/*
  ----------------
  Header
  ----------------
*/

header {
  position: fixed;
  width: 100%;
  z-index: 30;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  transition: all .3s;
  background: #fff;
  &.hide {
    transform: translateY(-173px);
  }
  .header-search {
    width: 210px;
    position: relative;
    @media #{$sp} {
      width: 85%;
      margin: 0 auto 15px;
    }
    &__input[type=search] {
      display: block;
      width: 100%;
      height: 25px;
      padding: 5px 10px;
      font-size: 16px;
      border-bottom: 1px solid #111;
    }
    &__btn {
      display: block;
      width: 13px;
      height: 13px;
      position: absolute;
      top: 0;
      right: 5px;
      z-index: 3;
      img {
        transition: all .3s;
      }
      &:hover {
        img {
          transform: scale(1.2);
        }
      }
    }
  }
  .nav-wrap {
    width: calc(100% - 300px)
  }
  .in {
    position: relative;
    &__logo {
      padding: 0 30px;
      width: 240px;
      @media #{$sp} {
        padding: 10px;
        width: 85px;
      }
    }
    &__nav {
      padding-top: 30px;
      .language {
        li:not(:last-child) {
          position: relative;
          &::before {
            content: "/";
            position: absolute;
            top: 0;
            bottom: 0;
            right: -17px;
            margin: auto;
            color: #A7A7A7;
          }
        }
        &__link {
          font-size: 14px;
          font-weight: 500;
          color: #A7A7A7;
          &.current {
            color: #000;
          }
        }
      }
      
      .aside {
        margin-right: 30px;
        li {
          &:last-child {
            .aside__link span {
              background: #35AA59;
              color: #fff;
              &:after {
                background-color: #fff;
                color: #35AA59;
              }
            }
          }
        }
        &__link {
          display: inline-block;
          text-align: center;
          transition: .3s;
          perspective: 1000px;
          perspective-origin: 50% 50%;
          vertical-align: bottom;
          overflow: hidden;
          span {
            border: 1px solid #35AA59;
            color: #35AA59;
            font-weight: bold;
            font-size: 14px;
            padding: 10px 5px;
            width: 175px;
            height: 47px;
            display: inline-block;
            position: relative;
            transform-origin: 50% 0%;
            transform-style: preserve-3d;
            transition: .4s;
            &:after {
              position: absolute;
              left: 0;
              top: 0;
              content: attr(data-text);
              width: 175px;
              padding: 10px 5px;
              background-color: #35AA59;
              border: 1px solid #35AA59;
              color: #fff;
              display: inline-block;
              transform-origin: 50% 0%;
              transform: translate3d(0, 100%, 0) rotateX(-90deg);
            }
          }
          &:hover {
            opacity: 1;
            span {
              transform: translate3d(0, 0, -60px) rotateX(90deg);
            }
          }
        }
      }
    }
  }
  .nav-list {
    font-size: 14px;
    font-weight: 500;
    
    .pull {
      background: #dfe4e8;
      padding: 20px 20%;
      visibility: hidden;
      opacity: 0;
      transition: all .3s;
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      margin: auto;
    }
    .mega.pull {
      background-color:rgba(30,41,51,0.95);
      padding: 0;
      border-top: 1px solid #ddd;
    }
    .nav-list-box {
      padding-right: 50px;
      &.child {
        width: 50%;
        &.ml33p {
          margin-left: 33%;
        }
        li {
          position: relative;
          &::before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: -15px;
            margin: auto;
            width: 5px;
            height: 5px;
            border: 1px solid;
            border-color: #333 #333 transparent transparent;
            transform: rotate(45deg);
          }
        }
      }
      li {
        &.parent {
          &:hover {
            .pull {
              visibility: visible;
              opacity: 1;
              // box-shadow: 0px 10px 8px -8px #ccc inset;
            }
            .arrow {
              // color: #F7701B;
              &::after {
                transform: rotate(135deg);
              }
              &::before {
                width: 100%;
              }
            }
          }
          .mega {
            color: #fff;
            &__menu {
              width: calc(100% - 350px);
              padding: 50px 40px 70px 130px;
              &--ttl {
                font-size: 18px;
                font-weight: bold;
                padding-bottom: 5px;
                border-bottom: 1px solid #fff;
                margin-bottom: 15px;
              }
            }
            &__child {
              &--list {
                position: relative;
                .nav-link {
                  
                  .ttl-link {
                    width: 30%;
                    display: block;
                    font-size: 16px;
                    font-weight: bold;
                    padding: 15px;
                    border-bottom: 1px solid rgba(255,255,255,0.15);
                    position: relative;
                    &::before {
                      content: "";
                      position: absolute;
                      top: 0;
                      bottom: 0;
                      right: 15px;
                      left: auto;
                      margin: auto;
                      width: 6px;
                      height: 6px;
                      border: 1px solid;
                      border-color: #fff #fff transparent transparent;
                      transform: rotate(45deg);
                    }
                  }
                  .child-link {
                    position: absolute;
                    top: 0;
                    margin-left: 30%;
                    width: calc(100% - 30%);
                    padding: 30px;
                    background-color:rgba(47,66,80,0.4);
                    height: 177px;
                    display: none;
                    li {
                      width: calc(100% / 2 - 1.5em);
                      list-style: circle;
                      margin-left: 1.5em;
                      &:not(:last-child) {
                        margin-bottom: 10px;
                      }
                      a {
                        font-size: 14px;
                        padding: 0;
                        &::before {
                          content: none;
                        }
                        &:hover {
                          opacity: 1;
                          text-decoration: underline;
                        }
                      }
                    }
                  }
                  &:hover {
                    opacity: 1;
                    .ttl-link {
                      background-color:rgba(47,66,80,0.4);
                    }
                    .child-link {
                      display: flex;
                    }
                  }
                }
              }
              
            }
            &__info {
              width: 350px;
              background-color:rgba(0,0,0,0.3);
              padding: 50px;
              &--ttl {
                width: 100%;
                font-size: 14px;
                font-weight: bold;
                margin-bottom: 20px;
              }
              .more-square {
                padding: 0;
                span {
                  border: 1px solid #EEAA41;
                  background-color: #EEAA41;
                  color: #000;
                  font-weight: 500;
                  padding: 10px 15px;
                  &:after {
                    padding: 11px 15px;
                    background-color: #fff;
                    color: #000;
                  }
                }
              }
            }
          }
        }
        a {
          padding: 20px 0;
          position: relative;
          &::before {
            content: "";
            width: 0%; 
            height: 4px;
            background-color: #212529;
            display: block;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            transition: all .3s linear;
          }
          &.arrow {
            &::after {
              content: '';
              position: absolute;
              top: 0;
              bottom: 0;
              right: -15px;
              margin: auto;
              width: 5px;
              height: 5px;
              border: 1px solid;
              border-color:  transparent transparent #333 #333;
              transform: rotate(-45deg);
              background: transparent;
              transition: all .3s;
            }
            &:hover {
              &::after {
                transform: rotate(135deg);
              }
            }
          }
          &:hover {
            opacity: 1;
            // color: #F7701B;

            &::before {
              width: 100%;
            }
          }
        }
      }
    }
  }

  #nav-toggle {
    padding: 16px;
    width: 50px;
    height: 50px;
    span {
      display: block;
      background: #2DB198;
      height: 2px;
      transition: transform 0.5s ease-in-out, top 0.5s ease;
    }
    span:not(:last-child) {
      margin-bottom: 5px;
    }
  }

  #gloval-nav {
    display: none;
    background: #fff;
    padding: 30px 0;
    box-shadow: 0px 10px 8px -8px #ccc inset;
    .wrap {
      background: #1E2933;
      color: #fff;
      .list {
        border-bottom: 1px solid #333;
        font-size: 14px;
        font-weight: bold;
        &__ttl {
          display: block;
          padding: 15px;
          position: relative;
          border-bottom: 1px solid #93999D;
          &.accordion {
            position: relative;
            &::after {
              content: "＋";
              position: absolute;
              top: 0;
              bottom: 0;
              right: 15px;
              margin: auto;
              font-size: 20px;
              font-weight: normal;
              width: 20px;
              height: 20px;
              line-height: 1;
            }
            &.active {
              &::after {
                content: "－";
              }
            }
          }
          &.arrow {
            position: relative;
            &::after {
              content: "";
              position: absolute;
              top: 0;
              bottom: 0;
              right: 15px;
              margin: auto;
              width: 20px;
              height: 15px;
              background: url("../img/common/link-arrow.svg") 50% / contain no-repeat;
            }
          }
        }
        &__wrap {
          display: none;
        }
        &__pull {
          background: #303E49;
          border-bottom: 1px solid #93999D;
          &--parent {
            display: block;
            font-weight: 500;
            padding: 15px 15px 15px 30px;
            border-bottom: 1px solid #4F5B64;
            &.arrow {
              position: relative;
              &::after {
                content: "";
                position: absolute;
                top: 0;
                bottom: 0;
                right: 15px;
                margin: auto;
                width: 20px;
                height: 15px;
                background: url("../img/common/link-arrow.svg") 50% / contain no-repeat;
              }
            }
          }
          &--box {
            padding: 15px 15px 15px 30px;
            font-size: 12px;
            font-weight: normal;

            li {
              width: calc(100% / 2 - 1.5em);
              list-style: circle;
              margin-left: 1.5em;
              position: relative;
              a {
                display: inline;
                padding: 5px 0;
              }
            }
          }
        }
        &.child {
          font-size: 12px;
          width: 90%;
          margin-left: auto;
          span {
            display: inline-block;
            padding: 10px;
            position: relative;
          }
        }
      }
    }
    .aside {
      background: #1E2933;
      padding: 30px;
      &__btn {
        display: block;
        text-align: center;
        font-size: 14px;
        font-weight: bold;
        color: #35AA59;
        padding: 13px;
        background: #fff;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          right: 15px;
          margin: auto;
          width: 5px;
          height: 5px;
          border: 1px solid;
          border-color: #35AA59 #35AA59 transparent transparent;
          transform: rotate(45deg);
        }
        &:last-child {
          margin-top: 15px;
          background: #35AA59;
          color: #fff;
          &::before {
            border-color: #fff #fff transparent transparent;
          }
        }
      }
    }
    .language {
      background: #1E2933;
      color: #888;
      border-top: 1px solid #49525A;
      padding: 15px;
      .current {
        color: #fff;
      }
    }
  }
}

header.open {
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  #nav-toggle {
    position: relative;
    span:first-child {
      transform: rotate(45deg);
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      width: 27px;
    }
    span:nth-child(2) {
      display: none;
    }
    span:last-child {
      transform: rotate(-45deg);
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      width: 27px;
    }
  }

  #gloval-nav {
    .more.small {
      width: 100%;
    }
  }
}