{% extends "layout/default.njk" %}

{# Custom SEO tags, leave blank to apply the default values #}
{% set title = "" %}
{% set description = "" %}
{% set keywords = "" %}

{# Page settings and also body class #}
{% set page = "" %}

{# Custom tags before </head> #}
{% block customHead %}
{% endblock %}

{# Custom tags before </body> #}
{% block customJs %}  
{% endblock %}

{# Main content #}
{% block content %}

<main>

  <div class="brand-circle"></div>

  <nav class="pagination">
		<div class="nav-links">
      <a class="prev page-numbers" href="#"><span></span></a>
      <a class="page-numbers" href="#">1</a>
      <span class="page-numbers current">2</span>
      <a class="page-numbers" href="#">3</a>
      <a class="next page-numbers" href="#"><span></span></a>
    </div>
	</nav>

  <section>
    <div class="containers">

      <a href="#" class="more"><span>カタログダウンロードはこちら</span></a>

      <a href="#" class="more cW"><span>ご相談・お見積り依頼はこちら</span></a>

      <a href="#" class="more-square"><span data-text="製品カタログダウンロード">製品カタログダウンロード</span></a>

      <a href="#" class="txt-link"><span>一覧を見る</span><img src="/assets/img/common/bg-more.svg" alt="一覧を見る"></a>

    </div>
  </section>

  <section class="inquiry">
    <div class="containers">
      <h2 class="ttl-secondary cW">機能性ポリビニルアルコールに関する<br>ご相談・お問合せはお気軽に<br class="sp-only">ご連絡下さい。</h2>
      <a href="/contact/" class="more"><span>ご相談・お見積り依頼はこちら</span></a>
      <summary class="flex aiC jcC gap30 inquiry__box">
        <div class="inquiry__box--ttl">製品カタログをご希望の方はこちら</div>
        <a href="/catalog/" class="more-square"><span data-text="製品カタログダウンロード">製品カタログダウンロード</span></a>
      </summary>
    </div>
  </section>

</main>

{% endblock %}