{% extends "layout/default.njk" %}

{# Custom SEO tags, leave blank to apply the default values #}
{% set title = "" %}
{% set description = "" %}
{% set keywords = "" %}

{# Page settings and also body class #}
{% set page = "" %}

{# Custom tags before </head> #}
{% block customHead %}
{% endblock %}

{# Custom tags before </body> #}
{% block customJs %}  
{% endblock %}

{# Main content #}
{% block content %}

<main>

  <div class="brand-circle"></div>

  <nav class="pagination">
		<div class="nav-links">
      <a class="prev page-numbers" href="#"><span></span></a>
      <a class="page-numbers" href="#">1</a>
      <span class="page-numbers current">2</span>
      <a class="page-numbers" href="#">3</a>
      <a class="next page-numbers" href="#"><span></span></a>
    </div>
	</nav>

  <section>
    <div class="containers">

      <a href="#" class="more"><span>カタログダウンロードはこちら</span></a>

      <a href="#" class="more cW"><span>ご相談・お見積り依頼はこちら</span></a>

      <a href="#" class="more-square"><span data-text="製品カタログダウンロード">製品カタログダウンロード</span></a>

      <a href="#" class="txt-link"><span>一覧を見る</span><img src="/assets/img/common/bg-more.svg" alt="一覧を見る"></a>

    </div>
  </section>

  <section class="inquiry">
    <div class="containers">
      <h2 class="ttl-secondary cW">機能性ポリビニルアルコールに関する<br>ご相談・お問合せはお気軽に<br class="sp-only">ご連絡下さい。</h2>
      <a href="/contact/" class="more"><span>ご相談・お見積り依頼はこちら</span></a>
      <summary class="flex aiC jcC gap30 inquiry__box">
        <div class="inquiry__box--ttl">製品カタログをご希望の方はこちら</div>
        <a href="/catalog/" class="more-square"><span data-text="製品カタログダウンロード">製品カタログダウンロード</span></a>
      </summary>
    </div>
  </section>

  <section class="sec01">
    <div class="containers">
      <h2 class="ttl-secondary">ゴーセノール™とは</h2>
      <div class="flex sp-reverse">
        <dl class="sec01__box">
          <dt><h3>ゴーセノール™<small>（ポリビニルアルコール・PVOH・PVA）</small>は、<br>三菱ケミカル株式会社の商標です。</h3></dt>
          <dd>ゴーセノール™（ポリビニルアルコール・PVOH・PVA）は、その優れた水溶性、接着性、造膜性、化学的安定性を利用し、接着、紙、乳化、懸濁、繊維、フィルムなどの工業原料、加工剤として、国内をもとより世界各国のユーザーによりご愛顧頂いております。</dd>
          <dd>昭和2年の創立以来の研究と技術により数々の特殊品種を開発し続けており、幅広い分野で未来のテクノロジーを支える素材としても注目を集め、今やなくてはならない材料としての地位を確立しました。また、これらの各品種は、厳格な管理の下で製造され、その品質システムはISO9001に適合し、皆様のご要望にお応えしています。</dd>
        </dl>
        <figure class="sec01__img"><img src="/assets/img/common/img01.jpg" alt=""></figure>
      </div>
    </div>
  </section>

</main>

{% endblock %}