/*
  ----------------
  common
  ----------------
*/

.hero-b {
  .containers-full {
    padding: 0;
  }
  &__box {
    width: 40%;
    padding: 30px;
    height: 430px;
    background: #fff;
    @media #{$sp} {
      width: 100%;
      padding: 15px;
      height: auto;
    }
    &.core {
      text-align: left;
      @media #{$sp} {
        text-align: center;
      }
    }
    &>div {
      @media #{$sp} {
        width: 100%;
      }
    }
    &--sub {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 20px;
      @media #{$sp} {
        font-size: 16px;
        margin-bottom: 15px;

      }
      span {
        display: inline-block;
        border-bottom: 1px solid #35AA59;
      }
    }
    &--txt {
      @media #{$sp} {
        font-size: 13px;
      }
    }
    .more {
      padding: 15px;
      margin: 30px 0 0;
      width: 380px;
      @media #{$sp} {
        margin: 15px auto 0;
        width: 85%;
      }
    }
  }
  &__mv {
    width: 60%;
    @media #{$sp} {
      width: 100%;
      height: 150px;
    }
  }
}

.anchor {
  .containers {
    padding: 50px 15px 20px;
    @media #{$sp} {
      padding: 15px;
    }
  }
  .item {
    background: #fff;
    box-shadow: 0 8px 20px rgba(0,0,0,0.11);
    width: 80%;
    margin: 0 auto;
    font-weight: bold;
    padding: 30px 80px;
    @media #{$sp} {
      width: 100%;
      padding: 15px 15px 20px;
      gap: 15px 40px;
    }
    li {
      a {
        &.inner {
          position: relative;
          &::before {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: -10px;
            margin: auto;
            width: 6px;
            height: 6px;
            border: 2px solid;
            border-color:  transparent transparent #35AA59 #35AA59;
            transform: rotate(-45deg);
            transition: all .3s;
            @media #{$sp} {
              bottom: -5px;
            }
          }
        }
        &:hover {
          opacity: 1;
          color: #35AA59;
          &.inner::before {
            bottom: -15px;
            @media #{$sp} {
              bottom: -10px;
            }
          }
        }
      }
    }
  }
}

.brand-circle {
  border: 7px solid #EEAA41;
  border-radius: 50%;
  width: 940px;
  height: 940px;
  @media #{$sp} {
    border: 4px solid #EEAA41;
    width: 400px;
    height: 400px;
  }
}

.lineup {
  background: url("../img/common/bg-lineup.webp") 0 100% / cover no-repeat;
  position: relative;
  @media #{$sp} {
    background: url("../img/common/bg-lineup-sp.webp") 0 100% / 100% no-repeat;
    .containers {
      padding: 35px 15px 200px;
    }
  }
  .brand-circle {
    position: absolute;
    top: 30px;
    right: -50%;
  }
  .ttl-secondary,.lead {
    text-align: left;
  }
  .card {
    &__box {
      display: block;
      width: calc(100% / 3 - 20px);
      box-shadow: 0 0 10px rgba(0,0,0,0.16);
      text-align: center;
      background: #fff;
      padding: 30px 40px 40px;
      @media #{$sp} {
        width: 85%;
        margin: 0 auto;
        padding: 15px 20px 20px;
        &:not(:last-child) {
          margin-bottom: 15px;
        }
      }
      &:nth-child(1) {
        border-top: 2px solid #005BAC;
      }
      &:nth-child(2) {
        border-top: 2px solid #268CBF;
      }
      &:nth-child(3) {
        border-top: 2px solid #0996A2;
      }
      &--sub {
        line-height: 1.5;
        height: 50px;
        margin-bottom: 10px;
        @media #{$sp} {
          height: auto;
        }
      }
      &--ttl {
        font-size: 25px;
        font-weight: bold;
        padding-bottom: 30px;
        border-bottom: 1px solid #ccc;
        @media #{$sp} {
          font-size: 18px;
          padding-bottom: 15px;
        }
      }
      &--txt {
        padding-top: 30px;
        text-align: left;
        @media #{$sp} {
          padding-top: 15px;
        }
      }
    }
  }
}

.product {
  position: relative;
  .brand-circle {
    position: absolute;
    top: 75%;
    left: -450px;
    @media #{$sp} {
      top: 65%;
      left: -120px;
    }
  }
  .item {
    gap: 40px 30px;
    @media #{$sp} {
      gap: 15px;
    }
    &::after {
      content:"";
      display: block;
      width: calc(100% / 3 - 20px);
      @media #{$sp} {
        width: calc(100% / 2 - 10px);
      }
    }
    &__box {
      background: #fff;
      width: calc(100% / 3 - 20px);
      padding: 20px;
      position: relative;
      overflow: hidden;
      transition: ease .2s;
      @media #{$sp} {
        width: calc(100% / 2 - 10px);
        padding: 10px 5px;
      }
      &::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 15px;
        margin: auto;
        width: 27px;
        height: 27px;
        background: url("../img/common/arrow01.svg") 50% / contain no-repeat;
        transition: all .3s;
        z-index: 5;
        @media #{$sp} {
          width: 20px;
          height: 20px;
          right: 5px;
        }
      }
      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        background: #5e7688;
        width: 100%;
        height: 100%;
        transition: transform .6s cubic-bezier(0.8, 0, 0.2, 1) 0s;
        transform: scale(0, 1);
        transform-origin: right top;
      }
      img {
        width: 60px;
        border-radius: 18px;
        transition: all .5s;
        position: relative;
        z-index: 3;
        @media #{$sp} {
          width: 30px;
        }
      }
      span {
        font-size: 18px;
        font-weight: bold;
        line-height: 1.4;
        position: relative;
        z-index: 3;
        transition: all .3s;
        @media #{$sp} {
          font-size: 12px;
        }
      }
      &:hover {
        opacity: 1;
        img {
          border-radius: 50%;
        }
        span {
          color: #fff;
        }
        &::before {
          background: url("../img/common/arrow01-w.svg") 50% / contain no-repeat;
        }
        &::after {
          transform-origin: left top;
          transform: scale(1, 1);
        }
      }
    }
  }
  &__btn {
    margin-top: 60px;
    @media #{$sp} {
      margin-top: 30px;
    }
  }
}

.guidance {
  background: url("../img/common/bg-guidance.webp") 100% 50% / cover no-repeat;
  .ttl-secondary {
    font-size: 26px;
    margin-bottom: 40px;
    @media #{$sp} {
      font-size: 18px;
      margin-bottom: 20px;
    }
  }
}
