/*
  ----------------
  ニチゴーGポリマー™
  ----------------
*/

.g-polymer {
  overflow: hidden;

  .hero-b {
    &__box--sub {
      font-size: 16px;
    }
    .ttl-primary {
      @media #{$sp} {
        text-align: center;
      }
      img {
        max-width: 358px;
        @media #{$sp} {
          max-width: 85%;
        }
      }
    }
    &__mv {
      li {
        &.slider01 {
          background: url("../img/g-polymer/img-slider01.webp") 50% / cover no-repeat;
        }
        &.slider02 {
          background: url("../img/g-polymer/img-slider02.webp") 50% / cover no-repeat;
        }
        &.slider03 {
          background: url("../img/g-polymer/img-slider03.webp") 50% / cover no-repeat;
        }
      }
    }
  }

  .sec01 {
    position: relative;
    .brand-circle-small {
      position: absolute;
      top: 40%;
      right: -300px;
      @media #{$sp} {
        top: 95%;
        right: -140px;
      }
    }
  }

  .feature {
    .scroll {
      margin-bottom: 70px;
      @media #{$sp} {
        margin-bottom: 30px;
      }
    }
    &__img {
      @media #{$sp} {
        width: 800px;
      }
    }
  }
}

