/*
  ----------------
  TOP
  ----------------
*/

.top {
  overflow: hidden;
  .hero {
    background: url("../img/top/bg-hero.webp") 50% / cover no-repeat;
    height: 570px;
    @media #{$sp} {
      height: auto;
    }
    .containers {
      position: relative;
      &::before {
        content: "";
        position: absolute;
        top: 80px;
        left: 0;
        width: 500px;
        height: 200px;
        border-radius: 30%;
        background-color:rgba(255,255,255,0.7);
        filter: blur(10px);
        @media #{$sp} {
          width: 90%;
          height: 220px;
          top: 40px;
          right: 0;
          margin: auto;
        }
      }
    }
    &__box {
      width: calc(100% - 376px);
      position: relative;
      z-index: 3;
      @media #{$sp} {
        width: 100%;
        text-align: center;
      }
      .lead {
        text-align: left;
        @media #{$sp} {
          text-align: center;
        }
      }
      .more {
        margin: 0;
        @media #{$sp} {
          margin: 0 auto 30px;
        }
      }
    }
    &__btn {
      width: 376px;
      @media #{$sp} {
        width: 100%;
      }
      .card {
        @media #{$sp} {
          width: 85%;
          margin: 0 auto;
        }
        &:not(:last-child) {
          margin-bottom: 10px;
        }
        &__box {
          display: block;
          background: #fff;
          padding: 35px 30px;
          position: relative;
          overflow: hidden;
          @media #{$sp} {
            padding: 15px;

          }
          &::before {
            content: '';
            position: absolute;
            top: 0;
            right: 20px;
            bottom: 0;
            margin: auto;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            transform: scale(0);
            transition: ease-in .4s;
            @media #{$sp} {
              width: 30px;
              height: 30px;
            }
          }
          &::after {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            right: 20px;
            margin: auto;
            width: 46px;
            height: 46px;
            @media #{$sp} {
              width: 30px;
              height: 30px;
            }
          }
          &--sub {
            font-size: 14px;
            font-weight: 500;
            margin-bottom: 5px;
            position: relative;
            z-index: 2;
            transition: all .3s;
            @media #{$sp} {
              font-size: 12px;
            }
          }
          &--ttl {
            font-size: 21px;
            font-weight: bold;
            position: relative;
            z-index: 2;
            transition: all .3s;
            @media #{$sp} {
              font-size: 16px;
            }
          }
          &.cB {
            &::after {
              background: url("../img/top/bg-arrow01.svg") 50% / contain no-repeat;
            }
          }
          &.cLB {
            &::after {
              background: url("../img/top/bg-arrow02.svg") 50% / contain no-repeat;
            }
          }
          &.cG {
            &::after {
              background: url("../img/top/bg-arrow03.svg") 50% / contain no-repeat;
            }
          }
          &:hover {
            opacity: 1;
            &::before {
              transform: scale(18);
            }
            &.cB {
              &::before {
                background: #005BAC;
              }
            }
            &.cLB {
              &::before {
                background: #268CBF;
              }
            }
            &.cG {
              &::before {
                background: #009E89;
              }
            }
            .card__box--sub,
            .card__box--ttl {
              color: #fff;
            }
          }
        }
      }
    }
  }

  .group {
    background: #D4DFE3;
    position: relative;
    z-index: 5;
    .brand-circle {
      position: absolute;
      top: 30px;
      right: -400px;
      @media #{$sp} {
        top: 60%;
        right: -250px;
      }
    }
    .containers {
      padding: 60px 30px;
      @media #{$sp} {
        padding: 30px 15px;
      }
    }
    .card {
      width: calc(100% / 3 - 20px);
      box-shadow: 0 5px 10px rgba(0,0,0,0.16);
      height: 170px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      @media #{$sp} {
        height: auto;
        width: 85%;
        margin: 0 auto;
        &:not(:last-child) {
          margin-bottom: 15px;
        }
      }
      &:nth-child(1) {
        background: url("../img/top/bg-group01.png") 50% / cover no-repeat;
      }
      &:nth-child(2) {
        background: url("../img/top/bg-group02.png") 50% / cover no-repeat;
      }
      &:nth-child(3) {
        background: url("../img/top/bg-group03.png") 50% / cover no-repeat;
      }
      &__box {
        display: block;
        padding: 47px;
        font-size: 22px;
        font-weight: bold;
        position: relative;
        overflow: hidden;
        transition: ease .2s;
        @media #{$sp} {
          padding: 30px;
          font-size: 18px;
        }
        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          z-index: 2;
          background-color:rgba(0,91,172,0.6);
          width: 100%;
          height: 100%;
          transition: transform .3s cubic-bezier(0.8, 0, 0.2, 1) 0s;
          transform: scale(0, 0);
          transform-origin:center;
        }
        span {
          position: relative;
          z-index: 3;
        }
        &:hover {
          opacity: 1;
          color: #fff;
          &::before {
            transform:scale(1, 1);
          }
        }
      }
    }
  }

  .card-type3 {
    .lead {
      font-weight: bold;
    }
  }

  .forte {
    background: url("../img/top/bg-forte.webp") 80% 50% / cover no-repeat;
    @media #{$sp} {
      background: url("../img/top/bg-forte-sp.webp") 50% 100% / 100% no-repeat #F7F9FA;
      .containers {
        padding: 35px 15px 280px;
      }
    }
    .ttl-secondary {
      text-align: left;
      @media #{$sp} {
        text-align: center;
      }
    }
    &__ttl {
      padding-left: 30px;
      font-size: 22px;
      font-weight: bold;
      position: relative;
      margin-bottom: 30px;
      @media #{$sp} {
        margin-bottom: 15px;
        font-size: 16px;
        display: inline-block;
      }
      &::before {
        content: "";
        position: absolute;
        top: 20px;
        left: 0;
        width: 16px;
        height: 3px;
        background: #35AA59;
        @media #{$sp} {
          top: 12px;
        }
      }
    }
    &__txt {
      margin-bottom: 40px;
      @media #{$sp} {
        margin-bottom: 15px;
      }
      p {
        &:not(:last-child) {
          margin-bottom: 30px;
          @media #{$sp} {
            margin-bottom: 15px;
          }
        }
      }
    }
  }

}