{% extends "layout/default.njk" %}

{# Custom SEO tags, leave blank to apply the default values #}
{% set title = "" %}
{% set description = "" %}
{% set keywords = "" %}

{# Page settings and also body class #}
{% set page = "" %}

{# Custom tags before </head> #}
{% block customHead %}
{% endblock %}

{# Custom tags before </body> #}
{% block customJs %}  
{% endblock %}

{# Main content #}
{% block content %}

<main class="tax-technical-gohsenex">

  <section class="hero-d core">
    <div class="containers">
      <div class="hero-d__box">
        <div class="hero-d__box--had"><span>技術情報</span></div>
        <h1 class="ttl-primary">ゴーセネックス™</h1>
        <div class="hero-d__box--lead">ゴーセネックス™に関する技術情報をご紹介します。</div>
      </div>
    </div>
  </section>

  <section class="anc">
    <div class="containers">
      <div class="search">
        <form action="" class="search__form">
          <input class="search__input" type="search" placeholder="キーワードから探す">
          <button class="search__btn" type="submit"><img src="/assets/img/common/icon-search-g.svg"></button>
        </form>
      </div>
      <ul class="flex jcC gap30 inherit anc__box">
        <li><a href="#property">ゴーセネックス™の特性</a></li>
        <li><a href="#use">ゴーセネックス™の使用法</a></li>
        <li><a href="#category">カテゴリ名</a></li>
      </ul>
    </div>
  </section>

  <section id="property" class="area">
    <div class="containers">
      <h2 class="area__ttl">ゴーセネックス™の特性</h2>
      <div class="flex fS card">

        <a href="#" class="card__box">
          <div class="card__box--img"><img src="/assets/img/common/img02.jpg" alt=""></div>
          <h3 class="card__box--ttl">技術情報タイトルが入ります技術情報タイトルが入ります</h3>
        </a>

        <a href="#" class="card__box">
          <div class="card__box--img"><img src="/assets/img/common/img02.jpg" alt=""></div>
          <h3 class="card__box--ttl">技術情報タイトルが入ります技術情報タイトルが入ります</h3>
        </a>

        <a href="#" class="card__box">
          <div class="card__box--img"><img src="/assets/img/common/img02.jpg" alt=""></div>
          <h3 class="card__box--ttl">技術情報タイトルが入ります技術情報タイトルが入ります</h3>
        </a>

        <a href="#" class="card__box">
          <div class="card__box--img"><img src="/assets/img/common/img02.jpg" alt=""></div>
          <h3 class="card__box--ttl">技術情報タイトルが入ります技術情報タイトルが入ります</h3>
        </a>

        <a href="#" class="card__box">
          <div class="card__box--img"><img src="/assets/img/common/img02.jpg" alt=""></div>
          <h3 class="card__box--ttl">技術情報タイトルが入ります技術情報タイトルが入ります</h3>
        </a>

        <a href="#" class="card__box">
          <div class="card__box--img"><img src="/assets/img/common/img02.jpg" alt=""></div>
          <h3 class="card__box--ttl">技術情報タイトルが入ります技術情報タイトルが入ります</h3>
        </a>

        <a href="#" class="card__box">
          <div class="card__box--img"><img src="/assets/img/common/img02.jpg" alt=""></div>
          <h3 class="card__box--ttl">技術情報タイトルが入ります技術情報タイトルが入ります</h3>
        </a>

        <a href="#" class="card__box">
          <div class="card__box--img"><img src="/assets/img/common/img02.jpg" alt=""></div>
          <h3 class="card__box--ttl">技術情報タイトルが入ります技術情報タイトルが入ります</h3>
        </a>

        <a href="#" class="card__box">
          <div class="card__box--img"><img src="/assets/img/common/img02.jpg" alt=""></div>
          <h3 class="card__box--ttl">技術情報タイトルが入ります技術情報タイトルが入ります</h3>
        </a>

        <a href="#" class="card__box">
          <div class="card__box--img"><img src="/assets/img/common/img02.jpg" alt=""></div>
          <h3 class="card__box--ttl">技術情報タイトルが入ります技術情報タイトルが入ります</h3>
        </a>

      </div>
    </div>
  </section>

  <section id="use" class="area">
    <div class="containers">
      <h2 class="area__ttl">ゴーセネックス™の使用法</h2>
      <div class="flex fS card">

        <a href="#" class="card__box">
          <div class="card__box--img"><img src="/assets/img/common/img02.jpg" alt=""></div>
          <h3 class="card__box--ttl">技術情報タイトルが入ります技術情報タイトルが入ります</h3>
        </a>

        <a href="#" class="card__box">
          <div class="card__box--img"><img src="/assets/img/common/img02.jpg" alt=""></div>
          <h3 class="card__box--ttl">技術情報タイトルが入ります技術情報タイトルが入ります</h3>
        </a>

        <a href="#" class="card__box">
          <div class="card__box--img"><img src="/assets/img/common/img02.jpg" alt=""></div>
          <h3 class="card__box--ttl">技術情報タイトルが入ります技術情報タイトルが入ります</h3>
        </a>

        <a href="#" class="card__box">
          <div class="card__box--img"><img src="/assets/img/common/img02.jpg" alt=""></div>
          <h3 class="card__box--ttl">技術情報タイトルが入ります技術情報タイトルが入ります</h3>
        </a>

        <a href="#" class="card__box">
          <div class="card__box--img"><img src="/assets/img/common/img02.jpg" alt=""></div>
          <h3 class="card__box--ttl">技術情報タイトルが入ります技術情報タイトルが入ります</h3>
        </a>

        <a href="#" class="card__box">
          <div class="card__box--img"><img src="/assets/img/common/img02.jpg" alt=""></div>
          <h3 class="card__box--ttl">技術情報タイトルが入ります技術情報タイトルが入ります</h3>
        </a>

        <a href="#" class="card__box">
          <div class="card__box--img"><img src="/assets/img/common/img02.jpg" alt=""></div>
          <h3 class="card__box--ttl">技術情報タイトルが入ります技術情報タイトルが入ります</h3>
        </a>

        <a href="#" class="card__box">
          <div class="card__box--img"><img src="/assets/img/common/img02.jpg" alt=""></div>
          <h3 class="card__box--ttl">技術情報タイトルが入ります技術情報タイトルが入ります</h3>
        </a>

        <a href="#" class="card__box">
          <div class="card__box--img"><img src="/assets/img/common/img02.jpg" alt=""></div>
          <h3 class="card__box--ttl">技術情報タイトルが入ります技術情報タイトルが入ります</h3>
        </a>

        <a href="#" class="card__box">
          <div class="card__box--img"><img src="/assets/img/common/img02.jpg" alt=""></div>
          <h3 class="card__box--ttl">技術情報タイトルが入ります技術情報タイトルが入ります</h3>
        </a>

        <a href="#" class="card__box">
          <div class="card__box--img"><img src="/assets/img/common/img02.jpg" alt=""></div>
          <h3 class="card__box--ttl">技術情報タイトルが入ります技術情報タイトルが入ります</h3>
        </a>

        <a href="#" class="card__box">
          <div class="card__box--img"><img src="/assets/img/common/img02.jpg" alt=""></div>
          <h3 class="card__box--ttl">技術情報タイトルが入ります技術情報タイトルが入ります</h3>
        </a>

        <a href="#" class="card__box">
          <div class="card__box--img"><img src="/assets/img/common/img02.jpg" alt=""></div>
          <h3 class="card__box--ttl">技術情報タイトルが入ります技術情報タイトルが入ります</h3>
        </a>

        <a href="#" class="card__box">
          <div class="card__box--img"><img src="/assets/img/common/img02.jpg" alt=""></div>
          <h3 class="card__box--ttl">技術情報タイトルが入ります技術情報タイトルが入ります</h3>
        </a>

        <a href="#" class="card__box">
          <div class="card__box--img"><img src="/assets/img/common/img02.jpg" alt=""></div>
          <h3 class="card__box--ttl">技術情報タイトルが入ります技術情報タイトルが入り</h3>
        </a>

      </div>
    </div>
  </section>

  <section id="category" class="area">
    <div class="containers">
      <h2 class="area__ttl">カテゴリ名が入ります</h2>
      <div class="flex fS card">

        <a href="#" class="card__box">
          <div class="card__box--img"><img src="/assets/img/common/img02.jpg" alt=""></div>
          <h3 class="card__box--ttl">技術情報タイトルが入ります技術情報タイトルが入り</h3>
        </a>

        <a href="#" class="card__box">
          <div class="card__box--img"><img src="/assets/img/common/img02.jpg" alt=""></div>
          <h3 class="card__box--ttl">技術情報タイトルが入ります技術情報タイトルが入ります</h3>
        </a>

        <a href="#" class="card__box">
          <div class="card__box--img"><img src="/assets/img/common/img02.jpg" alt=""></div>
          <h3 class="card__box--ttl">技術情報タイトルが入ります技術情報タイトルが入ります</h3>
        </a>

        <a href="#" class="card__box">
          <div class="card__box--img"><img src="/assets/img/common/img02.jpg" alt=""></div>
          <h3 class="card__box--ttl">技術情報タイトルが入ります技術情報タイトルが入ります</h3>
        </a>

        <a href="#" class="card__box">
          <div class="card__box--img"><img src="/assets/img/common/img02.jpg" alt=""></div>
          <h3 class="card__box--ttl">技術情報タイトルが入ります技術情報タイトルが入ります</h3>
        </a>

      </div>
    </div>
  </section>

</main>

{% endblock %}