<footer>
  <div class="containers nav">
    <nav class="flex">
      <div class="nav__box">
        <div class="nav__box--ttl">製品情報</div>
        <ul class="nav__box--list">
          <li><a href="/gohsenol/">ゴーセノール™</a></li>
          <li><a href="/gohsenex/">ゴーセネックス™</a></li>
          <li><a href="/g-polymer/">ニチゴーGポリマー™</a></li>
        </ul>
      </div>
      <div class="nav__box">
        <div class="nav__box--ttl">サービスとサポート</div>
        <ul class="nav__box--list">
          <li><a href="/research_and_development/">研究開発者・技術部門の方</a></li>
          <li><a href="/trading/">総合商社・化学専門商社の方</a></li>
          <li><a href="/manufacturer/">メーカー企画・購買部門の方</a></li>
        </ul>
      </div>
      <div class="nav__box">
        <div class="nav__box--ttl">使用用途</div>
        <ul class="nav__box--list">
          <li><a href="/usage/">ゴーセノール™</a></li>
          <li><a href="/usage/">ゴーセネックス™</a></li>
          <li><a href="/usage/">ニチゴーGポリマー™</a></li>
        </ul>
      </div>
      <div class="nav__box">
        <div class="nav__box--ttl">技術・お役立ち情報</div>
        <ul class="nav__box--list">
          <li><a href="/technical/gohsenol/">技術情報：ゴーセノール™</a></li>
          <li><a href="/technical/gohsenex/">技術情報：ゴーセネックス™</a></li>
          <li><a href="/technical/g-polymer/">技術情報：ニチゴーGポリマー™</a></li>
          <li><a href="/knowledge/">基礎知識・用語解説</a></li>
          <li><a href="/news/">ニュース</a></li>
        </ul>
      </div>
      <div class="nav__box">
        <div class="nav__box--ttl">お問合せ</div>
        <ul class="nav__box--list">
          <li><a href="/catalog/">製品カタログダウンロード</a></li>
          <li><a href="/contact/">ご相談・お見積り依頼</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <aside class="aside">
    <ul class="flex jcC inherit aside__nav">
      <li><a href="/company/">企業情報</a></li>
      <li><a href="#">販売拠点</a></li>
      <li><a href="#" target="_blank">プライバシーポリシー</a></li>
      <li><a href="/sitemap/">サイトマップ</a></li>
    </ul>
    <div class="aside__copy">Copyright © Mitsubishi Chemical Corporation.</div>
  </aside>
</footer>