{% extends "layout/default.njk" %}

{# Custom SEO tags, leave blank to apply the default values #}
{% set title = "" %}
{% set description = "" %}
{% set keywords = "" %}

{# Page settings and also body class #}
{% set page = "" %}

{# Custom tags before </head> #}
{% block customHead %}
{% endblock %}

{# Custom tags before </body> #}
{% block customJs %}  
{% endblock %}

{# Main content #}
{% block content %}

<main class="tax-technical-gohsenol">

  <section class="hero-d core">
    <div class="containers">
      <div class="hero-d__box">
        <div class="hero-d__box--had"><span>技術情報</span></div>
        <h1 class="ttl-primary">ゴーセノール™</h1>
        <div class="hero-d__box--lead">ゴーセノール™に関する技術情報をご紹介します。</div>
      </div>
    </div>
  </section>

  <section class="anc">
    <div class="containers">
      <div class="search">
        <form action="" class="search__form">
          <input class="search__input" type="search" placeholder="キーワードから探す">
          <button class="search__btn" type="submit"><img src="/assets/img/common/icon-search-g.svg"></button>
        </form>
      </div>
      <ul class="flex jcC gap30 inherit anc__box">
        <li><a href="#property">ゴーセノール™の特性</a></li>
        <li><a href="#use">ゴーセノール™の使用法</a></li>
        <li><a href="#category">カテゴリ名</a></li>
      </ul>
    </div>
  </section>

  <section id="property" class="area">
    <div class="containers">
      <h2 class="area__ttl">ゴーセノール™の特性</h2>
      <div class="flex fS card">

        <a href="#" class="card__box">
          <div class="card__box--img"><img src="/assets/img/common/img02.jpg" alt=""></div>
          <h3 class="card__box--ttl">溶解方法</h3>
        </a>

        <a href="#" class="card__box">
          <div class="card__box--img"><img src="/assets/img/common/img02.jpg" alt=""></div>
          <h3 class="card__box--ttl">水溶液の貯蔵法</h3>
        </a>

        <a href="#" class="card__box">
          <div class="card__box--img"><img src="/assets/img/common/img02.jpg" alt=""></div>
          <h3 class="card__box--ttl">可塑化法</h3>
        </a>

        <a href="#" class="card__box">
          <div class="card__box--img"><img src="/assets/img/common/img02.jpg" alt=""></div>
          <h3 class="card__box--ttl">ゲル化法</h3>
        </a>

        <a href="#" class="card__box">
          <div class="card__box--img"><img src="/assets/img/common/img02.jpg" alt=""></div>
          <h3 class="card__box--ttl">消泡剤について</h3>
        </a>

        <a href="#" class="card__box">
          <div class="card__box--img"><img src="/assets/img/common/img02.jpg" alt=""></div>
          <h3 class="card__box--ttl">耐水化剤について</h3>
        </a>

        <a href="#" class="card__box">
          <div class="card__box--img"><img src="/assets/img/common/img02.jpg" alt=""></div>
          <h3 class="card__box--ttl">技術情報タイトルが入ります技術情報タイトルが入ります</h3>
        </a>

        <a href="#" class="card__box">
          <div class="card__box--img"><img src="/assets/img/common/img02.jpg" alt=""></div>
          <h3 class="card__box--ttl">技術情報タイトルが入ります技術情報タイトルが入ります</h3>
        </a>

        <a href="#" class="card__box">
          <div class="card__box--img"><img src="/assets/img/common/img02.jpg" alt=""></div>
          <h3 class="card__box--ttl">技術情報タイトルが入ります技術情報タイトルが入ります</h3>
        </a>

        <a href="#" class="card__box">
          <div class="card__box--img"><img src="/assets/img/common/img02.jpg" alt=""></div>
          <h3 class="card__box--ttl">技術情報タイトルが入ります技術情報タイトルが入ります</h3>
        </a>

      </div>
    </div>
  </section>

  <section id="use" class="area">
    <div class="containers">
      <h2 class="area__ttl">ゴーセノール™の使用法</h2>
      <div class="flex fS card">

        <a href="#" class="card__box">
          <div class="card__box--img"><img src="/assets/img/common/img02.jpg" alt=""></div>
          <h3 class="card__box--ttl">基本物性</h3>
        </a>

        <a href="#" class="card__box">
          <div class="card__box--img"><img src="/assets/img/common/img02.jpg" alt=""></div>
          <h3 class="card__box--ttl">安定性、熱分解性</h3>
        </a>

        <a href="#" class="card__box">
          <div class="card__box--img"><img src="/assets/img/common/img02.jpg" alt=""></div>
          <h3 class="card__box--ttl">生分解性</h3>
        </a>

        <a href="#" class="card__box">
          <div class="card__box--img"><img src="/assets/img/common/img02.jpg" alt=""></div>
          <h3 class="card__box--ttl">品種により異なる溶解性</h3>
        </a>

        <a href="#" class="card__box">
          <div class="card__box--img"><img src="/assets/img/common/img02.jpg" alt=""></div>
          <h3 class="card__box--ttl">耐油性と耐有機溶剤性</h3>
        </a>

        <a href="#" class="card__box">
          <div class="card__box--img"><img src="/assets/img/common/img02.jpg" alt=""></div>
          <h3 class="card__box--ttl">強い接着力</h3>
        </a>

        <a href="#" class="card__box">
          <div class="card__box--img"><img src="/assets/img/common/img02.jpg" alt=""></div>
          <h3 class="card__box--ttl">優れた皮膜形成能と機械的性質</h3>
        </a>

        <a href="#" class="card__box">
          <div class="card__box--img"><img src="/assets/img/common/img02.jpg" alt=""></div>
          <h3 class="card__box--ttl">吸湿による性質変化</h3>
        </a>

        <a href="#" class="card__box">
          <div class="card__box--img"><img src="/assets/img/common/img02.jpg" alt=""></div>
          <h3 class="card__box--ttl">電気的性質</h3>
        </a>

        <a href="#" class="card__box">
          <div class="card__box--img"><img src="/assets/img/common/img02.jpg" alt=""></div>
          <h3 class="card__box--ttl">ガス不透過性<br>（ガスバリア性）</h3>
        </a>

        <a href="#" class="card__box">
          <div class="card__box--img"><img src="/assets/img/common/img02.jpg" alt=""></div>
          <h3 class="card__box--ttl">優れた界面活性能</h3>
        </a>

        <a href="#" class="card__box">
          <div class="card__box--img"><img src="/assets/img/common/img02.jpg" alt=""></div>
          <h3 class="card__box--ttl">反応性</h3>
        </a>

        <a href="#" class="card__box">
          <div class="card__box--img"><img src="/assets/img/common/img02.jpg" alt=""></div>
          <h3 class="card__box--ttl">排水負荷</h3>
        </a>

        <a href="#" class="card__box">
          <div class="card__box--img"><img src="/assets/img/common/img02.jpg" alt=""></div>
          <h3 class="card__box--ttl">水溶液の粘度及び比重</h3>
        </a>

        <a href="#" class="card__box">
          <div class="card__box--img"><img src="/assets/img/common/img02.jpg" alt=""></div>
          <h3 class="card__box--ttl">技術情報タイトルが入ります技術情報タイトルが入り</h3>
        </a>

      </div>
    </div>
  </section>

  <section id="category" class="area">
    <div class="containers">
      <h2 class="area__ttl">カテゴリ名が入ります</h2>
      <div class="flex fS card">

        <a href="#" class="card__box">
          <div class="card__box--img"><img src="/assets/img/common/img02.jpg" alt=""></div>
          <h3 class="card__box--ttl">技術情報タイトルが入ります技術情報タイトルが入り</h3>
        </a>

        <a href="#" class="card__box">
          <div class="card__box--img"><img src="/assets/img/common/img02.jpg" alt=""></div>
          <h3 class="card__box--ttl">技術情報タイトルが入ります技術情報タイトルが入ります</h3>
        </a>

        <a href="#" class="card__box">
          <div class="card__box--img"><img src="/assets/img/common/img02.jpg" alt=""></div>
          <h3 class="card__box--ttl">技術情報タイトルが入ります技術情報タイトルが入ります</h3>
        </a>

        <a href="#" class="card__box">
          <div class="card__box--img"><img src="/assets/img/common/img02.jpg" alt=""></div>
          <h3 class="card__box--ttl">技術情報タイトルが入ります技術情報タイトルが入ります</h3>
        </a>

        <a href="#" class="card__box">
          <div class="card__box--img"><img src="/assets/img/common/img02.jpg" alt=""></div>
          <h3 class="card__box--ttl">技術情報タイトルが入ります技術情報タイトルが入ります</h3>
        </a>

      </div>
    </div>
  </section>

</main>

{% endblock %}