{% extends "layout/default.njk" %}

{# Custom SEO tags, leave blank to apply the default values #}
{% set title = "" %}
{% set description = "" %}
{% set keywords = "" %}

{# Page settings and also body class #}
{% set page = "" %}

{# Custom tags before </head> #}
{% block customHead %}
{% endblock %}

{# Custom tags before </body> #}
{% block customJs %}  
{% endblock %}

{# Main content #}
{% block content %}

<main class="rad">

  <section class="hero-c core">
    <div class="containers">
      <div class="hero-c__box">
        <h1 class="ttl-primary" data-aos="fade" data-aos-delay="400">研究開発・<br class="sp-only">技術部門の皆様へ</h1>
        <div class="hero-c__box--lead">ご使用の用途に最適な機能性ポリビニルアルコールを<br class="pc-only">ご提供いたします</div>
        <a href="/contact/" class="more boder"><span>ご相談したい方はこちら</span></a>
      </div>
    </div>
  </section>

  <section class="needs">
    <div class="containers">
      <div class="flex gap30 card">
        <a href="#usage" class="card__box core" data-aos="fade-down">
          <div class="card__box--txt">製品の<span>使用方法、特性</span>を知りたい方はこちら</div>
        </a>
        <a href="#applications" class="card__box core" data-aos="fade-up">
          <div class="card__box--txt">自社の<span>使用用途</span>に適した<br>機能性ポリビニルアルコールを探している方はこちら</div>
        </a>
      </div>
    </div>
  </section>

  <section id="usage" class="data">
    <div class="containers">
      <div class="ttl-tertiary">製品の使用方法、特性を知りたい方はこちら</div>
      <h2 class="ttl-secondary">各製品別技術情報</h2>
      <summary class="card" data-aos="fade-up">
        <h3 class="card__ttl">ゴーセノール™の技術情報</h3>
        <ul class="flex jcC gap30 card__btn">
          <li><a href="#" class="more-data">ゴーセノール™の特性</a></li>
          <li><a href="#" class="more-data">ゴーセノール™の使用法</a></li>
          <li><a href="#" class="more-data">カテゴリ名</a></li>
        </ul>
        <div class="taC"><a href="#" class="txt-link"><span>ゴーセノール™の技術情報一覧を見る</span><img src="/assets/img/common/bg-more.svg" alt="ゴーセノール™の技術情報一覧を見る"></a></div>
      </summary>
      <summary class="card" data-aos="fade-up" data-aos-delay="200">
        <h3 class="card__ttl v2">ゴーセネックス™の技術情報</h3>
        <ul class="flex jcC gap30 card__btn">
          <li><a href="#" class="more-data">ゴーセネックス™の特性</a></li>
          <li><a href="#" class="more-data">ゴーセネックス™の使用法</a></li>
          <li><a href="#" class="more-data">カテゴリ名</a></li>
        </ul>
        <div class="taC"><a href="#" class="txt-link"><span>ゴーセネックス™の技術情報一覧を見る</span><img src="/assets/img/common/bg-more.svg" alt="ゴーセネックス™の技術情報一覧を見る"></a></div>
      </summary>
      <summary class="card" data-aos="fade-up" data-aos-delay="300">
        <h3 class="card__ttl v3">ニチゴーGポリマー™の技術情報</h3>
        <ul class="flex jcC gap30 card__btn">
          <li><a href="#" class="more-data">ニチゴーGポリマー™の特性</a></li>
          <li><a href="#" class="more-data">ニチゴーGポリマー™の使用法</a></li>
          <li><a href="#" class="more-data">カテゴリ名</a></li>
        </ul>
        <div class="taC"><a href="#" class="txt-link"><span>ニチゴーGポリマー™の技術情報一覧を見る</span><img src="/assets/img/common/bg-more.svg" alt="ニチゴーGポリマー™の技術情報一覧を見る"></a></div>
      </summary>
    </div>
    <div class="brand-circle-medium"></div>
  </section>

  <section id="applications" class="product">
    <div class="containers">
      <div class="ttl-tertiary">自社の使用用途に適した<br>機能性ポリビニルアルコールを探している方はこちら</div>
      <h2 class="ttl-secondary">使用用途から探す</h2>
      <div class="flex item">
        <a href="#" class="flex aiC fS gap10 item__box" data-aos="flip-up" data-aos-delay="200">
          <img src="/assets/img/common/img-product01.jpg" alt="接着・バインダー">
          <span>接着・バインダー</span>
        </a>
        <a href="#" class="flex aiC fS gap10 item__box" data-aos="flip-up" data-aos-delay="300">
          <img src="/assets/img/common/img-product02.jpg" alt="紙加工">
          <span>紙加工</span>
        </a>
        <a href="#" class="flex aiC fS gap10 item__box" data-aos="flip-up" data-aos-delay="400">
          <img src="/assets/img/common/img-product03.jpg" alt="エマルジョン">
          <span>エマルジョン</span>
        </a>
        <a href="#" class="flex aiC fS gap10 item__box" data-aos="flip-up" data-aos-delay="500">
          <img src="/assets/img/common/img-product04.jpg" alt="懸濁剤">
          <span>懸濁剤</span>
        </a>
        <a href="#" class="flex aiC fS gap10 item__box" data-aos="flip-up" data-aos-delay="600">
          <img src="/assets/img/common/img-product05.jpg" alt="フィルム">
          <span>フィルム</span>
        </a>
        <a href="#" class="flex aiC fS gap10 item__box" data-aos="flip-up" data-aos-delay="700">
          <img src="/assets/img/common/img-product06.jpg" alt="石油掘削">
          <span>石油掘削</span>
        </a>
        <a href="#" class="flex aiC fS gap10 item__box" data-aos="flip-up" data-aos-delay="800">
          <img src="/assets/img/common/img-product07.jpg" alt="3Dプリンター">
          <span>3Dプリンター</span>
        </a>
        <a href="#" class="flex aiC fS gap10 item__box" data-aos="flip-up" data-aos-delay="900">
          <img src="/assets/img/common/img-product08.jpg" alt="ガスバリア包材（溶融成型）">
          <span>ガスバリア包材<br>（溶融成型）</span>
        </a>
        <a href="#" class="flex aiC fS gap10 item__box" data-aos="flip-up" data-aos-delay="1000">
          <img src="/assets/img/common/img-product09.jpg" alt="ガスバリア包材（コーティング）">
          <span>ガスバリア包材<br>（コーティング）</span>
        </a>
        <a href="#" class="flex aiC fS gap10 item__box" data-aos="flip-up" data-aos-delay="1100">
          <img src="/assets/img/common/img-product10.jpg" alt="生分解性バリア包材">
          <span>生分解性<br>バリア包材</span>
        </a>
      </div>
    </div>
    <div class="brand-circle-medium"></div>
  </section>

  <section class="card-type1">
    <div class="containers">
      <h2 class="ttl-secondary">製品カタログ・<br class="sp-only">安全データシート（SDS）</h2>
      <ul class="flex gap30 card">
        <li class="card__box" data-aos="fade-up" data-aos-delay="200">
          <div class="card__box--sub cB">ポリビニルアルコール（PVOH）</div>
          <h3 class="card__box--ttl">ゴーセノール™</h3>
          <figure class="card__box--img"><img src="/assets/img/common/img-catalog01.png" alt="ゴーセノール™"></figure>
          <a href="#" class="more-dl">PDFダウンロード</a>
        </li>
        <li class="card__box" data-aos="fade-up" data-aos-delay="400">
          <div class="card__box--sub cLB">特殊変性ポリビニルアルコール（PVOH）</div>
          <h3 class="card__box--ttl">ゴーセネックス™</h3>
          <figure class="card__box--img"><img src="/assets/img/common/img-catalog01.png" alt="ゴーセネックス™"></figure>
          <a href="#" class="more-dl">PDFダウンロード</a>
        </li>
        <li class="card__box" data-aos="fade-up" data-aos-delay="600">
          <div class="card__box--sub cG">ブテンジオールビニルアルコール<br>コポリマー（BVOH）</div>
          <h3 class="card__box--ttl">ニチゴーG-ポリマー™</h3>
          <figure class="card__box--img"><img src="/assets/img/common/img-catalog01.png" alt="ニチゴーG-ポリマー™"></figure>
          <a href="#" class="more-dl">PDFダウンロード</a>
        </li>
      </ul>
      <div class="taC"><a href="/catalog/" class="txt-link"><span>一覧を見る</span><img src="/assets/img/common/bg-more.svg" alt="一覧を見る"></a></div>
    </div>
  </section>

  <section class="inquiry">
    <div class="containers">
      <h2 class="ttl-secondary cW">貴社の使用用途や<br class="sp-only">開発したい性能に合わせて<br>最適な機能性ポリビニル<br class="sp-only">アルコール製品をご提案します！</h2>
      <a href="/contact/" class="more"><span>ご相談・お見積り依頼はこちら</span></a>
      <summary class="flex aiC jcC gap30 inquiry__box">
        <div class="inquiry__box--ttl">製品カタログ・安全データシートを<br class="sp-only">ご希望の方はこちら</div>
        <a href="/catalog/" class="more-square"><span data-text="製品カタログダウンロード">製品カタログダウンロード</span></a>
      </summary>
    </div>
  </section>

</main>

{% endblock %}