{% extends "layout/default.njk" %}

{# Custom SEO tags, leave blank to apply the default values #}
{% set title = "" %}
{% set description = "" %}
{% set keywords = "" %}

{# Page settings and also body class #}
{% set page = "" %}

{# Custom tags before </head> #}
{% block customHead %}
{% endblock %}

{# Custom tags before </body> #}
{% block customJs %}  
{% endblock %}

{# Main content #}
{% block content %}

<main class="trading">

  <section class="hero-c core">
    <div class="containers">
      <div class="hero-c__box">
        <ul class="hero-c__box--list">
          <li>紙に＋αの機能を持たせたいメーカー</li>
          <li>生分解性のフィルムを開発しているメーカー<span>を顧客にお持ちの</span></li>
        </ul>
        <h1 class="ttl-primary" data-aos="fade" data-aos-delay="400">総合商社・<br class="sp-only">化学専門商社の皆様へ</h1>
        <div class="hero-c__box--lead">貴社顧客への機能性ポリビニルアルコールの<br class="sp-only">ご提案を<br class="pc-only">サポートいたします</div>
        <a href="/contact/" class="more boder"><span>ご相談したい方はこちら</span></a>
      </div>
    </div>
  </section>

  <section class="needs">
    <div class="containers">
      <h2 class="ttl-secondary">以下のようなニーズをお持ちでは<br class="sp-only">ありませんか？</h2>
      <ul class="flex gap30 card">
        <li class="card__box" data-aos="fade-down">
          <div class="card__box--txt">顧客に対して<span>新しいテーマの製品開発</span>を<br>売り込みたい</div>
        </li>
        <li class="card__box" data-aos="fade-up">
          <div class="card__box--txt">顧客へ提供している<span>中間材</span>を<br><span>他社材料へ切り替え提案</span>を考えている</div>
        </li>
      </ul>
    </div>
  </section>

  <section class="forte">
    <div class="containers">
      <h2 class="ttl-secondary">三菱ケミカルが解決します。</h2>
      <h3 class="forte__ttl" data-aos="fade-right">多種多様な機能性ポリビニルアルコールをご提案可能です</h3>
      <div class="forte__txt" data-aos="fade-right">
        <p>弊社では「ゴーセノール™」に新しい機能を持たせた特殊変性PVOHによる用途開発に注力し<br class="pc-only">ています。より付加価値の高い特殊銘柄として「ゴーセネックス™」「ニチゴーGポリマー™」<br class="pc-only">を開発し、特徴的な用途でなくてはならない材料としての地位を確立しています。</p>
        <p>これまでのゴーセノール™では困難であった性能を付与でき、顧客製品に高付加価値を<br class="pc-only">提供することが可能です。</p>
        <p>多様なニーズに対応できる製品開発力と柔軟な対応力で社会課題、顧客課題の解決に<br class="pc-only">取り組んでいます。</p>
      </div>
    </div>
    <div class="brand-circle-small"></div>
  </section>

  <section class="lineup">
    <div class="containers">
      <h2 class="ttl-secondary">機能性ポリビニルアルコール<br class="sp-only">製品ラインナップ</h2>
      <div class="lead">幅広い分野で未来のテクノロジーを<br class="sp-only">支える素材としても注目を集める<br>機能性ポリビニルアルコール製品ラインナップ</div>
      <div class="flex gap30 card">
        <a href="/gohsenol/" class="card__box" data-aos="fade-up" data-aos-delay="200">
          <div class="card__box--sub cB">ポリビニルアルコール（PVOH）</div>
          <h3 class="card__box--ttl">ゴーセノール™</h3>
          <div class="card__box--txt">優れた水溶性、接着性、造膜性、化学的安定性を利用し、接着、紙、乳化、懸濁、繊維、フィルムなどの工業原料、加工剤として、国内をもとより世界各国のユーザーによりご愛顧頂いております。</div>
        </a>
        <a href="/gohsenex/" class="card__box" data-aos="fade-up" data-aos-delay="300">
          <div class="card__box--sub cLB">特殊変性ポリビニルアルコール<br>（PVOH）</div>
          <h3 class="card__box--ttl">ゴーセネックス™</h3>
          <div class="card__box--txt">PVOHであるゴーセノールに変性基を導入することにより従来のPVOHにはない新たな機能を付与した機能性PVOHです。架橋性、親水性をはじめ、出したい特性に合わせ複数のグレードを用意しております。</div>
        </a>
        <a href="/g-polymer/" class="card__box" data-aos="fade-up" data-aos-delay="400">
          <div class="card__box--sub cG">ブテンジオールビニルアルコール<br>コポリマー（BVOH）</div>
          <h3 class="card__box--ttl">ニチゴーG-ポリマー™</h3>
          <div class="card__box--txt">非晶部の凝集力と結晶性を自在に制御できる、次世代ビニルアルコール系樹脂（BVOH）です。特徴である生分解性、ガスバリア性、水溶性、溶融成型性を活かし、食品包装などに使用されています。</div>
        </a>
      </div>
    </div>
  </section>

  <section class="anxiety">
    <div class="containers">
      <h2 class="anxiety__ttl" data-aos="fade" data-aos-duration="2000"><span>でも、</span> 提案するうえでの専門知識が無いので<br>提案できるか不安…</h2>
    </div>
  </section>

  <section class="feel-safe">
    <div class="containers">
      <h2 class="ttl-secondary">安心してください。<br>お客様への提案も三菱ケミカルが<br class="sp-only">サポートします！</h2>
      <ul class="flex card">
        <li class="card__box" data-aos="fade-right">
          <figure class="card__box--img"><img src="/assets/img/common/icon-mtg.svg" alt="商談やお打ち合わせへの同席"></figure>
          <h3 class="card__box--ttl">商談やお打ち合わせへの同席</h3>
          <div class="card__box--txt">貴社顧客へのご提案の際に、製品に詳しい弊社担当がお打ち合わせや商談へ同席し、ご提案のサポートをすることも可能です。</div>
        </li>
        <li class="card__box" data-aos="fade-left">
          <figure class="card__box--img"><img src="/assets/img/common/icon-support.svg" alt="提案書作成のサポート"></figure>
          <h3 class="card__box--ttl">提案書作成のサポート</h3>
          <div class="card__box--txt">弊社製品を活用したご提案をされる際、提案書のなかで専門的な部分は、弊社が提案内容のサポートをすることも可能です。</div>
        </li>
      </ul>
    </div>
  </section>

  <section class="inquiry">
    <div class="containers">
      <h2 class="ttl-secondary cW">貴社の使用用途や<br class="sp-only">開発したい性能に合わせて<br>最適な機能性ポリビニル<br class="sp-only">アルコール製品をご提案します！</h2>
      <a href="/contact/" class="more"><span>ご相談・お見積り依頼はこちら</span></a>
      <summary class="flex aiC jcC gap30 inquiry__box">
        <div class="inquiry__box--ttl">製品カタログ・安全データシートを<br class="sp-only">ご希望の方はこちら</div>
        <a href="/catalog/" class="more-square"><span data-text="製品カタログダウンロード">製品カタログダウンロード</span></a>
      </summary>
    </div>
  </section>

</main>

{% endblock %}