{% extends "layout/default.njk" %}

{# Custom SEO tags, leave blank to apply the default values #}
{% set title = "" %}
{% set description = "" %}
{% set keywords = "" %}

{# Page settings and also body class #}
{% set page = "" %}

{# Custom tags before </head> #}
{% block customHead %}
{% endblock %}

{# Custom tags before </body> #}
{% block customJs %}  
{% endblock %}

{# Main content #}
{% block content %}

<main class="arc-technical">

  <section class="hero-d core">
    <div class="containers">
      <div class="hero-d__box">
        <h1 class="ttl-primary">技術情報</h1>
        <div class="hero-d__box--lead">ゴーセノール™・ゴーセネックス™・ニチゴーGポリマー™の技術情報をお届けします。</div>
      </div>
    </div>
  </section>

  <section class="">
    <div class="containers">
      <div class="search">
        <form action="" class="search__form">
          <input class="search__input" type="search" placeholder="キーワードから探す">
          <button class="search__btn" type="submit"><img src="/assets/img/common/icon-search-g.svg"></button>
        </form>
      </div>
    </div>
  </section>

  <section class="bg-LB">
    <div class="containers">

      <div class="group">
        <h2 class="group__ttl">ゴーセノール™の技術情報</h2>
        <ul class="flex group__btn">
          <li><a href="">ゴーセノール™の特性</a></li>
          <li><a href="">ゴーセノール™の使用法</a></li>
          <li><a href="">カテゴリ名</a></li>
        </ul>
        <div class="flex gap30 card">
          <a href="#" class="card__box">
            <div class="card__box--img"><img src="/assets/img/knowledge/img01.jpg" alt=""></div>
            <h3 class="card__box--ttl">技術情報タイトルが入ります技術情報タイトルが入ります技術情報タイトルが入ります技術情報タイトルが入ります技術情報タイトルが入ります技術情報タイトルが入ります</h3>
          </a>
          <a href="#" class="card__box">
            <div class="card__box--img"><img src="/assets/img/knowledge/img01.jpg" alt=""></div>
            <h3 class="card__box--ttl">技術情報タイトルが入ります技術情報タイトルが入ります技術情報タイトルが入ります技術情報タイトルが入ります技術情報タイトルが入ります技術情報タイトルが入ります</h3>
          </a>
          <a href="#" class="card__box">
            <div class="card__box--img"><img src="/assets/img/knowledge/img01.jpg" alt=""></div>
            <h3 class="card__box--ttl">技術情報タイトルが入ります技術情報タイトルが入ります技術情報タイトルが入ります技術情報タイトルが入ります技術情報タイトルが入ります技術情報タイトルが入ります</h3>
          </a>
          <a href="#" class="card__box">
            <div class="card__box--img"><img src="/assets/img/knowledge/img01.jpg" alt=""></div>
            <h3 class="card__box--ttl">技術情報タイトルが入ります技術情報タイトルが入ります技術情報タイトルが入ります技術情報タイトルが入ります技術情報タイトルが入ります技術情報タイトルが入ります</h3>
          </a>
          <a href="#" class="card__box">
            <div class="card__box--img"><img src="/assets/img/knowledge/img01.jpg" alt=""></div>
            <h3 class="card__box--ttl">技術情報タイトルが入ります技術情報タイトルが入ります技術情報タイトルが入ります技術情報タイトルが入ります技術情報タイトルが入ります技術情報タイトルが入ります</h3>
          </a>
          <a href="#" class="card__box">
            <div class="card__box--img"><img src="/assets/img/knowledge/img01.jpg" alt=""></div>
            <h3 class="card__box--ttl">技術情報タイトルが入ります技術情報タイトルが入ります技術情報タイトルが入ります技術情報タイトルが入ります技術情報タイトルが入ります技術情報タイトルが入ります</h3>
          </a>
        </div>
        <div class="taC"><a href="#" class="txt-link"><span>一覧を見る</span><img src="/assets/img/common/bg-more.svg" alt="一覧を見る"></a></div>
      </div>

      <div class="group">
        <h2 class="group__ttl v2">ゴーセネックス™の技術情報</h2>
        <ul class="flex group__btn">
          <li><a href="">ゴーセネックス™の特性</a></li>
          <li><a href="">ゴーセネックス™の使用法</a></li>
          <li><a href="">カテゴリ名</a></li>
        </ul>
        <div class="flex gap30 card">
          <a href="#" class="card__box">
            <div class="card__box--img"><img src="/assets/img/knowledge/img01.jpg" alt=""></div>
            <h3 class="card__box--ttl">技術情報タイトルが入ります技術情報タイトルが入ります技術情報タイトルが入ります技術情報タイトルが入ります技術情報タイトルが入ります技術情報タイトルが入ります</h3>
          </a>
          <a href="#" class="card__box">
            <div class="card__box--img"><img src="/assets/img/knowledge/img01.jpg" alt=""></div>
            <h3 class="card__box--ttl">技術情報タイトルが入ります技術情報タイトルが入ります技術情報タイトルが入ります技術情報タイトルが入ります技術情報タイトルが入ります技術情報タイトルが入ります</h3>
          </a>
          <a href="#" class="card__box">
            <div class="card__box--img"><img src="/assets/img/knowledge/img01.jpg" alt=""></div>
            <h3 class="card__box--ttl">技術情報タイトルが入ります技術情報タイトルが入ります技術情報タイトルが入ります技術情報タイトルが入ります技術情報タイトルが入ります技術情報タイトルが入ります</h3>
          </a>
          <a href="#" class="card__box">
            <div class="card__box--img"><img src="/assets/img/knowledge/img01.jpg" alt=""></div>
            <h3 class="card__box--ttl">技術情報タイトルが入ります技術情報タイトルが入ります技術情報タイトルが入ります技術情報タイトルが入ります技術情報タイトルが入ります技術情報タイトルが入ります</h3>
          </a>
          <a href="#" class="card__box">
            <div class="card__box--img"><img src="/assets/img/knowledge/img01.jpg" alt=""></div>
            <h3 class="card__box--ttl">技術情報タイトルが入ります技術情報タイトルが入ります技術情報タイトルが入ります技術情報タイトルが入ります技術情報タイトルが入ります技術情報タイトルが入ります</h3>
          </a>
          <a href="#" class="card__box">
            <div class="card__box--img"><img src="/assets/img/knowledge/img01.jpg" alt=""></div>
            <h3 class="card__box--ttl">技術情報タイトルが入ります技術情報タイトルが入ります技術情報タイトルが入ります技術情報タイトルが入ります技術情報タイトルが入ります技術情報タイトルが入ります</h3>
          </a>
        </div>
        <div class="taC"><a href="#" class="txt-link"><span>一覧を見る</span><img src="/assets/img/common/bg-more.svg" alt="一覧を見る"></a></div>
      </div>

      <div class="group">
        <h2 class="group__ttl v3">ニチゴーGポリマー™の技術情報</h2>
        <ul class="flex group__btn">
          <li><a href="">ニチゴーGポリマー™の特性</a></li>
          <li><a href="">ニチゴーGポリマー™の使用法</a></li>
          <li><a href="">カテゴリ名</a></li>
        </ul>
        <div class="flex gap30 card">
          <a href="#" class="card__box">
            <div class="card__box--img"><img src="/assets/img/knowledge/img01.jpg" alt=""></div>
            <h3 class="card__box--ttl">技術情報タイトルが入ります技術情報タイトルが入ります技術情報タイトルが入ります技術情報タイトルが入ります技術情報タイトルが入ります技術情報タイトルが入ります</h3>
          </a>
          <a href="#" class="card__box">
            <div class="card__box--img"><img src="/assets/img/knowledge/img01.jpg" alt=""></div>
            <h3 class="card__box--ttl">技術情報タイトルが入ります技術情報タイトルが入ります技術情報タイトルが入ります技術情報タイトルが入ります技術情報タイトルが入ります技術情報タイトルが入ります</h3>
          </a>
          <a href="#" class="card__box">
            <div class="card__box--img"><img src="/assets/img/knowledge/img01.jpg" alt=""></div>
            <h3 class="card__box--ttl">技術情報タイトルが入ります技術情報タイトルが入ります技術情報タイトルが入ります技術情報タイトルが入ります技術情報タイトルが入ります技術情報タイトルが入ります</h3>
          </a>
          <a href="#" class="card__box">
            <div class="card__box--img"><img src="/assets/img/knowledge/img01.jpg" alt=""></div>
            <h3 class="card__box--ttl">技術情報タイトルが入ります技術情報タイトルが入ります技術情報タイトルが入ります技術情報タイトルが入ります技術情報タイトルが入ります技術情報タイトルが入ります</h3>
          </a>
          <a href="#" class="card__box">
            <div class="card__box--img"><img src="/assets/img/knowledge/img01.jpg" alt=""></div>
            <h3 class="card__box--ttl">技術情報タイトルが入ります技術情報タイトルが入ります技術情報タイトルが入ります技術情報タイトルが入ります技術情報タイトルが入ります技術情報タイトルが入ります</h3>
          </a>
          <a href="#" class="card__box">
            <div class="card__box--img"><img src="/assets/img/knowledge/img01.jpg" alt=""></div>
            <h3 class="card__box--ttl">技術情報タイトルが入ります技術情報タイトルが入ります技術情報タイトルが入ります技術情報タイトルが入ります技術情報タイトルが入ります技術情報タイトルが入ります</h3>
          </a>
        </div>
        <div class="taC"><a href="#" class="txt-link"><span>一覧を見る</span><img src="/assets/img/common/bg-more.svg" alt="一覧を見る"></a></div>
      </div>

    </div>
  </section>

</main>

{% endblock %}